<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1 class="main-topic">
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.appregistrations.any? %>
        <h3 class="main-topic">Registered Apps (<%= @user.appregistrations.count %>)</h3>
        <ol class="appregistrations">
          <%= render @appregistrations %>
        </ol>
        <%= will_paginate @appregistrations %>
    <% else %>
        <h3>No Registered Apps</h3>
    <% end %>
  </div>
</div>